// *************************************************** //
	// ICONS FONT FROM "MATERIAL DESIGN ICONS"
// *************************************************** //

// CALL FONT-FACE
	@font-face {
		font-family: "Material Design Icons";
		src: url("fonts/materialdesignicons-webfont.eot?v=2.0.46");
		src: url("fonts/materialdesignicons-webfont.eot?#iefix&v=2.0.46") format("embedded-opentype"), url("fonts/materialdesignicons-webfont.woff2?v=2.0.46") format("woff2"), url("fonts/materialdesignicons-webfont.woff?v=2.0.46") format("woff"), url("fonts/materialdesignicons-webfont.ttf?v=2.0.46") format("truetype"), url("fonts/materialdesignicons-webfont.svg?v=2.0.46#materialdesigniconsregular") format("svg");
		font-weight: normal;
		font-style: normal;
	}

// BASE CLASS - RENDERING IN ALL BROWSERS
	.mdi-set,
	.mdi:before {
		display: inline-block;
		font: normal normal normal 24px/1 "Material Design Icons";
		font-size: inherit;
		text-rendering: auto;
		line-height: inherit;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

// ICONS CLASSES
	// EXTRA CLASSES
		// Edit
			.mdi-pencil:before {
				content: "\F3EB";
			}
		// Info
			.mdi-information-outline:before {
				content: "\F2FD";
			}
		// Add
			.mdi-plus:before {
				content: "\F415";
			}
		// Adjustments
			.mdi-settings:before {
				content: "\F493";
			}
		// Send
			.mdi-send:before {
				content: "\F48A";
			}
		// Delete
			.mdi-delete:before {
				content: "\F1C0";
			}
		// Password
			.mdi-key:before {
				content: "\F306";
			}
		// Menu
			.mdi-menu:before {
				content: "\F35C";
			}
		// Search
			.mdi-magnify:before {
				content: "\F349";
			}
		// Month calendar
			.mdi-calendar-blank:before {
				content: "\F0EE";
			}
		// Week calendar
			.mdi-calendar-today:before {
				content: "\F0F6";
			}
		// Arrow left
			.mdi-arrow-left:before {
				content: "\F04D";
			}
		// Arrow right
			.mdi-arrow-right:before {
				content: "\F054";
			}
		// Order up
			.mdi-chevron-up:before {
				content: "\F143";
			}
		// Order down
			.mdi-chevron-down:before {
				content: "\F140";
			}
		// Erase backspace
			.mdi-backspace:before {
				content: "\F06E";
			}
		// Notifications alert
			.mdi-bell-ring-outline:before {
				content: "\F09F";
			}
		// Date today
			.mdi-calendar-today:before {
				content: "\F0F6";
			}
		// View
			.mdi-eye-outline:before {
				content: "\F6CF";
			}
		// Checked
			.mdi-file-check:before {
				content: "\F216";
			}


	// ICONS SIDEBAR NAV
	    // Usuario
	        .mdi-account:before {
	          content: "\F004";
	        }
	    // Notificaciones
	        .mdi-bell-outline:before {
	          content: "\F09C";
	        }
	        .mdi-bell-ring-outline:before {
	          content: "\F09F";
	        }
	    // Imputar horas
	        .mdi-timelapse:before {
	          content: "\F51A";
	        }
	    // Calendario vacaciones
	        .mdi-calendar-check:before {
	          content: "\F0EF";
	        }
	    // Listado de gastos
	        .mdi-currency-usd:before {
	          content: "\F1B3";
	        }
	    // Calendarios
	        .mdi-calendar-range:before {
	          content: "\F678";
	        }
	    // Horarios
	        .mdi-clock:before {
	          content: "\F150";
	        }
	    // Aprobación del gestor
	        .mdi-checkbox-marked-outline:before {
	          content: "\F135";
	        }
	    // Aprobación proyectos
	        .mdi-playlist-check:before {
	          content: "\F5C7";
	        }
	    // Registrar ausencia
	        .mdi-plus-outline:before {
	            content: "\F704";
	        }
	    // Gestionar empleados
	        .mdi-account-box-outline:before {
	          content: "\F007";
	        }
	    // Asignar proyectos
	        .mdi-playlist-plus:before {
	          content: "\F412";
	        }
	    // Revisar horas
	        .mdi-history:before {
	          content: "\F2DA";
	        }
	    // Revisar vacaciones
	        .mdi-airplane-takeoff:before {
	          content: "\F5D5";
	        }
	    // Gestión de gastos
	        .mdi-trending-up:before {
	          content: "\F535";
	        }
	    // Gestión de ausencias
	        .mdi-plus-box-outline:before {
	          content: "\F703";
	        }
	    // Exportación de tablas
	        .mdi-grid:before {
	          content: "\F2C1";
	        }
	    // Reportar bug
	        .mdi-bug:before {
	          content: "\F0E4";
	        }
	    // Cerrar sesión
	        .mdi-logout-variant:before {
	          content: "\F5FD";
	        }
