// *************************************************** //
// HEADER COMPONENT STYLES
// *************************************************** //

// IMPORTS
// *******
@import "../sass/variables";
@import "../sass/icons";
@import "../sass/font";
@import "../sass/buttons";


// BASIC RESET
// ***********
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html, body{
  font-family: 'Roboto', sans-serif;
  line-height: normal;
  height: 100%;
  font-size: 14px;

  &.blockView {
    overflow: hidden;
  }
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}

// GENERAL CLASES
// *************
%comp-hd-flex-between {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
%comp-hd-flex-center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}


// HEADER STYLES
// *************
.comp-hd-header{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: auto;
  padding-top: 6px;
  min-height: 50px;
  background-color: #fff;
  // margin-left: 60px;
  color: $col-black;
  border-bottom: 1px solid #ededed;

  // Flex
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  @media #{$tablet}{
    // margin-left: 230px;
    height: 55px;
    //padding: 0px 15px 0 20px;
  }

  .comp-hd-header-content {
    width: 95%;
    max-width: 1240px;
    height: 100%;
    margin: auto;

    // Flex
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    @media #{$lg-phone}{
      flex-flow: row wrap;
      justify-content: space-between;
    }
    .comp-hd-section-data{
      @media #{$portrait} and #{$d-lg-phone}{
        margin-bottom: 0px;
        text-align: center;
        // Flex
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
      }

      @media #{$tablet}{
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0;
      }

      // Section subtitle
      span{
        @media #{$portrait} and #{$d-tablet}{
          display: none;
        }
        @media #{$phone}{
          display: inline;
          font-size: 1.1em;
          font-weight: 400;
          letter-spacing: .01em;
          color: $col-grey-40;
        }
      }
      h4{
        margin-right: 5px;
      }
    }
    .comp-hd-actions{
      // Flex
      @extend %comp-hd-flex-between;
    }

  }

}
